<mat-toolbar class="top mat-elevation-z6" color="primary">
    <mat-toolbar-row>
        <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
        >
            <mat-icon aria-label="Sidenav toggle icon">menu</mat-icon>
        </button>

        <a routerLink="/">
            <img class="logo" src="assets/images/ship-shop-logo-white.png" alt="Logo">
        </a>
    
        <span class="spacer"></span>
        
        <div *ngIf="isLoadUser; else load_user_spinner" class="signIn center flex">
            <div *ngIf="!currentUser; else user_temp" class="btn-signIn">
                <button
                class="btn-login"
                mat-stroked-button
                color="white"
                (click)="openDialogSignIn.emit(0)"
                >
                    התחברות
                </button>
                <button
                class="btn-register btn-yellow"
                mat-flat-button
                color="warn"
                (click)="openDialogSignIn.emit(1)"
                >
                    הרשמה
                </button>
            </div>
            <ng-template #user_temp>
                <button
                mat-button
                [matMenuTriggerFor]="menu"
                >
                <div class="flex center avatar">
                    <div
                    class="pic"
                    [ngStyle]="{'background-image': 
                        'url(' + (currentUser.imgProfilePath ? currentUser.imgProfilePath : 'assets/images/user.svg')  + ')'}"
                    >
                    </div>
                    <span class="name text-overflow">היי, {{ currentUser.firstName }}</span>
                </div>
                </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item routerLink="/profile">
                            <mat-icon>account_circle</mat-icon>
                            <span>החשבון שלי</span>
                        </button>
                        <button mat-menu-item routerLink="/my-lists">
                            <mat-icon>assignment</mat-icon>
                            <span>הרשימות שלי</span>
                        </button>
                        <button mat-menu-item (click)="logout()">
                            <mat-icon>exit_to_app</mat-icon>
                            <span>התנתקות</span>
                        </button>
                    </mat-menu>
            </ng-template>
        </div>
        <ng-template #load_user_spinner>
            <mat-spinner
            color="accent"
            [diameter]="20"
            [strokeWidth]="2"
            >
            </mat-spinner>
        </ng-template>
        <button
        class="btn-cart"
        [routerLink]="['/cart']"
        mat-button
        >
            <span class="total-price"> {{ totalPrice || "0.00" }} ₪</span>
            <mat-icon
            [matBadge]="quantity || 0"
            matBadgeColor="warn"
            class="icon-shopping-cart btn-yellow"
            >
            shopping_cart
        </mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>