@import 'styles.scss';

mat-toolbar {
    z-index: 1;
    position: fixed;

    mat-toolbar-row {
        margin: 0 auto;
        font-size: 16px;
        width: $screen-lg;

        @include respond-to('lg') {
            width: 100%;
        }
        a {
            display: flex;
            justify-content: center;
            align-items: center;

            img.logo {
                height: 42px;
                @include respond-to('sm') {
                    height: 4vh;
                }
            }
        }
        .signIn {
            @include respond-to('sm') {
                display: none;
            }
            .btn-signIn {
                .btn-login {
                    border-color: $white;
                }
                .btn-register,
                .btn-login {
                    margin: 0 8px;
                }
            }
            .avatar {
                cursor: pointer;
                .pic {
                    height: 42px;
                    width: 42px;
                    background: white;
                    border-radius: 50%;
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                }
                .name {
                    margin-right: 8px;
                    max-width: 100px;
                }
            }
        }
        .btn-cart {   
            border-right: 1px solid #689F38;
            margin-right: 10px;

            .total-price {
                font-size: 16px;
                margin-left: 4px;
            }
        }
    }
}
