<button
  *ngIf="!selected; else btn_quantity"
  class="btn-add-shopping-cart"
  mat-raised-button
  [disabled]="disabled"
  color="primary"
  (click)="addToCart(product)"
>
  הוסף לעגלה
  <mat-icon aria-label="Add to cart">add_shopping_cart</mat-icon>
</button>
<ng-template #btn_quantity>
  <shared-btn-quantity 
  [product]="product"
  (removeProduct)="selected = false"
  > 
</shared-btn-quantity>
</ng-template>
