<mat-sidenav-container class="sidenav-container">
    <mat-sidenav
    #drawer
    class="sidenav"
    autoFocus="false"
    mode="over"
    [ngClass]="{'hidden': !(isHandset$ | async)}"
    >
    <section *ngIf="isLoadUser">
        <div *ngIf="!currentUser; else user_temp" class="signIn-warp flex">
            <button
            mat-stroked-button
            color="accent"
            (click)="openDialogSignIn(0); drawer.open()"
            >
            התחברות
            </button>
            <button
            class="btn-yellow"
            mat-flat-button
            (click)="openDialogSignIn(1); drawer.open()"
            >
            הרשמה
            </button>
        </div>
        <ng-template #user_temp>
            <div class="flex avatar-container">
                <div
                class="avatar-pic"
                [ngStyle]="{'background-image': 
                    'url(' + (currentUser.imgProfilePath ? currentUser.imgProfilePath : 'assets/images/user.svg')  + ')'}"
                >
                </div>
                <span class="avatar-name text-overflow">היי, {{ currentUser.firstName }}</span>
            </div>
        </ng-template>
    </section>
    <div class="navigator-warp flex column">
        <mat-divider></mat-divider>
        <button routerLink="/" mat-button (click)="drawer.close()">
            <mat-icon>home</mat-icon>
            <span>דף הבית</span>
        </button>
        <mat-divider></mat-divider>
        <button *ngIf="currentUser" routerLink="/profile" mat-button (click)="drawer.close()">
            <mat-icon>account_circle</mat-icon>
            <span>החשבון שלי</span>
        </button>
        <button *ngIf="currentUser" routerLink="/my-lists" mat-button (click)="drawer.close()">
            <mat-icon>assignment</mat-icon>
            <span>הרשימות שלי</span>
        </button>
        <button routerLink="/cart" mat-button (click)="drawer.close()">
            <mat-icon>shopping_cart</mat-icon>
            <span>עגלה</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-button>
            <mat-icon>help</mat-icon>
            <span>עזרה</span>
        </button>
        <mat-divider></mat-divider>
        <button *ngIf="currentUser" mat-button (click)="drawer.close(); logout()">
            <mat-icon>exit_to_app</mat-icon>
            <span>התנתקות</span>
        </button>
    </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <nav-toolbar
        [currentUser]="currentUser" 
        [isLoadUser]="isLoadUser" 
        (openDialogSignIn)="openDialogSignIn($event)" 
        (logoutEmitter)="logout()" 
        [drawer]="drawer"
        >
        </nav-toolbar>
        <!-- content App  -->
        <ng-content></ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>
