@import 'styles.scss';

.sidenav-container {
  height: 100%;

}
.sidenav.hidden {
    display: none!important;
}
.sidenav {
  width: 80%;
  
    .signin-warp {
        flex-wrap: nowrap;
        padding: 10px $padding;

        button {
            width: 100%;
            margin: 0 3px;
        }
    }
    .avatar-container {
        padding: 16px;
        align-items: center;
        background: $white;

        .avatar-pic {
            height: 48px;
            width: 48px;
            border: $border;
            background: $white;
            border-radius: 50%;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        .avatar-name {
            font-size: 20px;
            margin-right: 10px;
            width: 150px;
        }
    }
    .navigator-warp {
        button {
            width: 100%;
            min-height: 48px;
            text-align: right;
            color: $black;

            mat-icon {
                color: $gray;
                margin-left: 15px;
            }
        }
    }
}