@import 'styles.scss';

.profile-warp {
    flex: 1 1 auto;

    mat-card {
        width: $screen-md;
        
        @include respond-to('md') {
            width: 100%;
        }
        section {
            padding: 24px 16px;
             
            .upload-avatar-warp {
                .avatar-image {
                    position: relative;
                    width: 150px;
                    height: 150px;
                    border: $border;
                    border-radius: 50%;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                    
                    input[type=file] {
                        display: none;
                    }
                    .edit-icon {
                        display: none;
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        background: rgba($color:$black, $alpha: .7);
                        cursor: pointer;
                        color: $white;
                    }
                }
                .avatar-image:hover .edit-icon {
                    display: flex;
                }
            }
            .input-warp {
                @include respond-to('sm') {
                    flex-direction: column;
                }
                label {
                    font-size: 22px;
                    font-weight: 100;
                    color: $black;
                }
                mat-form-field {
                    width: 400px;
                    margin-top: 5px;
                    font-size: 16px;
    
                    @include respond-to('sm') {
                        width: 100%;
                    }
                }
            }
            button mat-spinner {
                margin-right: 10px;
            }
        }
    }
}