<div class="profile-warp flex center">
  <mat-card>
    <mat-card-content *ngIf="user && isLoadProfile; else load_profile">
      <section>
        <div class="mat-display-1">ערוך תמונת פרופיל</div>
        <div class="upload-avatar-warp flex column center">
            <div
            class="avatar-image"
            [ngStyle]="
              {'background-image': user.imgProfilePath ? 'url(' + user.imgProfilePath + ')' 
              : 'url(assets/images/user.svg)'}"
            >
            <input 
            #file 
            (change)="changeAvatar(file.files)" 
            type="file" 
            name="file" 
            id="file" 
            accept="image/*"
            />
            <label for="file">
                <div class="edit-icon flex column center">
                    <span>שנה תמונה</span>
                    <mat-icon>camera_alt</mat-icon>
                </div>
            </label>
            </div>
        </div>
      </section>
      <mat-divider></mat-divider>
      <section>
        <div class="mat-display-1">פרטי פרופיל</div>
        <form [formGroup]="profileForm">
          <div class="flex column input-warp">
            <label>שם פרטי:</label>
            <mat-form-field appearance="fill">
              <input 
              matInput 
              name="First name" 
              formControlName="firstName" 
              placeholder="שם פרטי" 
              required 
              minlength="3" 
              maxlength="50"
              >
            </mat-form-field>
            <mat-error *ngIf="profileForm.get('firstName').hasError('required')">שדה חובה</mat-error>
          </div>
          <div class="flex column input-warp">
            <label>שם משפחה:</label>
            <mat-form-field appearance="fill">
              <input 
              matInput 
              name="Last name" 
              formControlName="lastName" 
              placeholder="שם משפחה" 
              required
              minlength="3" 
              maxlength="50"
              >
            </mat-form-field>
            <mat-error *ngIf="profileForm.get('lastName').hasError('required')">שדה חובה</mat-error>
          </div>
          <p>
            <button 
            mat-flat-button 
            color="primary"
            [disabled]="spinnerBtn"
            (click)="update()"
            >
            <div class="flex center">
              <span>עדכן</span>
              <mat-spinner
              *ngIf="spinnerBtn"
              color="primary" 
              [diameter]="20" 
              [strokeWidth]="2"
              >
              </mat-spinner>
            </div>
          </button>
          </p>
        </form>
      </section>
    </mat-card-content>
  
    <ng-template #load_profile>
      <div class="flex column center">
        <mat-spinner
        color="primary" 
        [diameter]="60" 
        [strokeWidth]="2"
        >
        </mat-spinner>
        <span>טוען פרופיל</span>
      </div>
    </ng-template>
  </mat-card>
</div>