<button (click)="closeDialog()" mat-icon-button>
  <mat-icon>close</mat-icon>
</button>
<div class="flex center">
<mat-card class="img-product">
  <img  src={{product.imagePath}} alt="Logo">
</mat-card>
<form class="column flex" [formGroup]="productForm">
  <mat-form-field class="input">
    <input 
    matInput
    placeholder="מחיר" 
    formControlName="price" 
    required
    >
    <mat-error *ngIf="productForm.invalid">מחיר שדה חובה</mat-error>
  </mat-form-field>
  <mat-form-field class="input">
      <input 
      matInput
      placeholder="מחיר מבצע" 
      formControlName="salePrice" 
      >
    </mat-form-field>
  <mat-form-field class="input">
    <input
    matInput
    formControlName="saleFinish" 
    [matDatepicker]="picker" 
    placeholder="סיום המבצע" 
    >
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field class="input">
    <input 
    matInput
    placeholder="כמות מוצרים למבצע" 
    formControlName="saleQuantity"
    >
  </mat-form-field>
  <br>
  <mat-error *ngIf="isInvalidLogin"> אחד השדות שגויים</mat-error>
  <br>
  <button 
  [disabled]="disabledBtn" 
  mat-flat-button 
  color="primary"
  (click)="addProduct()"
  >
    <div class="flex center">
      <span>הוסף לחנות</span>
      <mat-spinner 
      *ngIf="spinnerBtn" 
      color="accent" 
      [diameter]="20" 
      [strokeWidth]="2">
      </mat-spinner>
    </div>
  </button>
</form>
</div>