<div *ngIf="dataSource && dataSource.data && dataSource.data.length; else load_list" class="my-list-warp">
  <mat-card class="mat-elevation-z0">
    <mat-card-header class="flex column">
      <div class="mat-headline">מספר הזמנה: {{ uuid }}</div>
      <mat-hint>סמן את המוצרים אותם תרצה להוסיף לעגלה</mat-hint>
    </mat-card-header>
    <mat-card-content>
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox
            [disabled]="spinnerBtn"
            (change)="$event ? masterToggle() : null" 
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()"
            >
            סמן הכל
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox
            #checkbox
            [disabled]="exsitInCart(row) || spinnerBtn"
            (click)="$event.stopPropagation()" 
            (change)="$event ? selection.toggle(row) : null" 
            [checked]="exsitInCart(row) || selection.isSelected(row)"
            >
            </mat-checkbox>
          </td>
        </ng-container>

        <ng-container matColumnDef="product">
          <th mat-header-cell *matHeaderCellDef> מוצר </th>
          <td mat-cell *matCellDef="let product">
            <div class="product flex">
              <div [ngStyle]="{'background-image': 'url(' + product.imagePath + ')'}" class="pic"></div>
              <div class="info flex column">
                <div class="name">{{ product.name }}</div>
                <mat-hint>{{ product.unit }}</mat-hint>
              </div>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="price">
          <th class="center" mat-header-cell *matHeaderCellDef> מחיר </th>
          <td class="price center" mat-cell *matCellDef="let product"> {{ product.price }}₪ </td>
        </ng-container>

        <ng-container matColumnDef="quantity">
          <th class="center" mat-header-cell *matHeaderCellDef> כמות </th>
          <td class="quantity center" mat-cell *matCellDef="let product"> {{ product.quantity }} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr 
        [ngClass]="{'selected': exsitInCart(row) }" 
        mat-row 
        *matRowDef="let row; columns: displayedColumns;" 
        (click)="selection.toggle(row)"
        >
        </tr>
      </table>

    </mat-card-content>
    <mat-card-actions class="flex mat-elevation-z1">
      <span>נבחרו {{ selection.selected.length }} מוצרים</span>
      <span class="spacer"></span>

      <button
      [disabled]="spinnerBtn || !selection.selected.length"
      mat-flat-button
      color="primary"
      (click)="addProducts()"
      >
      <div class="flex center">
          <span>הוסף לסל מוצרים מסומנים</span>
          <mat-spinner
          *ngIf="spinnerBtn"
          color="accent"
          [diameter]="20"
          [strokeWidth]="2"
          >
          </mat-spinner>
      </div>
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<ng-template #load_list>
  <div class="container flex column center">
    <mat-spinner 
    color="primary" 
    [diameter]="60" 
    [strokeWidth]="2"
    >
    </mat-spinner>
    <span>טוען רשימה</span>
  </div>
</ng-template>