@import 'styles.scss';

.my-list-warp {
    width: $screen-md;
    margin: 10px auto;
    @include respond-to('md') {
        width: 100%;
    }
    .mat-headline {
        color: $green;
        margin: 10px 0 0 0;
    }
    .mat-card-header {
        padding: 0 0 $padding 0;
    }
    mat-card-content {
        height: calc(100vh - 300px);
        overflow: auto;

        table {
            width: 100%;
    
            tr.selected {
                background: $lite_yellow;
            }
            th.mat-column-select {
                width: 134px;
            }
            th.center,
            td.center {
                text-align: center;
            }
            .product {
                padding: 10px 0;
                align-items: center;
            }
            .price {
                font-size: 18px;
                font-weight: 700;
            }
        }
    }
    mat-card-actions {
        align-items: center;
        padding: $padding;
    }
}
.pic {
    height: 100px;
    width: 100px;
    min-height: 100px;
    min-width: 100px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 24px;
}
.container {
    flex: 1 1 auto;
}