@import 'styles.scss';

.business-warp {
    position: relative;
    min-height: 100vh;
    min-width: 100%;
    background: $white;

    .main {
        flex: 1 1 auto;
        height: 100%;
        padding-top: 64px;

        @include respond-to('xs') {
            padding-top: 56px;
        }
    }
}