@import 'styles.scss';

// mat card - grid
mat-card.selected {
    background: $lite_yellow;
    transition: all .2s ease-in;
}
mat-card {
    border-bottom: $border;
    border-left: $border;

    mat-card-header > span.sale-label {
        position: absolute;
        top: 6px;
        right: 6px;
        background: $red;
        padding: 4px 16px;
        font-size: 14px;
        color: $white;
    }
    mat-card-content .product-price {

        margin: 8px 0;

        .price,
        .sale-price {
            font-weight: 700;
            line-height: 18px;
            font-size: 20px;
        }
        .sale-price {
            padding-right: 5px;
            color: $green;
        }
        .price.old-price {
            font-size: 16px;
            text-decoration: line-through;
            font-weight: normal;
        }
    }
    .pic {
        height: 150px;
        width: 100%;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    mat-card-actions {
        justify-content: center;
    }
}
// mat-card -view as list
mat-card.list {
    mat-card-content {
        display: flex;
    }
    mat-card-actions {
        justify-content: flex-end;
    }
    .pic {
        width: 100px;
        height: 100px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        margin-left: 15px;
    }
}