<mat-card
  [ngClass]="{ selected: selected }"
  [class.list]="viewAs === 'list'"
  [class.grid]="viewAs === 'grid'"
  class="mat-elevation-z0"
>
  <mat-card-header
    *ngIf="product.salePrice && product.salePrice < product.price"
  >
    <span class="sale-label">{{ getSalePercentage() }}% הנחה</span>
  </mat-card-header>
  <mat-card-content>
    <div
      [ngStyle]="{ 'background-image': 'url(' + product.imagePath + ')' }"
      class="pic"
    ></div>
    <div class="flex column price-warp">
      <div class="flex text-warp-two-line">{{ product.name }}</div>
      <div class="flex product-price">
        <div
          class="price"
          [ngClass]="{
            'old-price': product.salePrice && product.salePrice < product.price
          }"
        >
          {{ product.price }} ₪
        </div>
        <div
          *ngIf="product.salePrice && product.salePrice < product.price"
          class="sale-price"
        >
          {{ product.salePrice }} ₪
        </div>
      </div>
      <mat-hint>{{ product.unit }}</mat-hint>
    </div>
  </mat-card-content>
  <mat-card-actions class="flex">
    <ng-content></ng-content>
  </mat-card-actions>
</mat-card>
