<div class="wrap-Profile">
    <mat-card class="mat-elevation-z0">
      <div class="mat-display-1">פרטי מוכר</div>
      <form class="flex column" [formGroup]="profileForm">
        <mat-form-field>
          <input
          matInput 
          placeholder="שם פרטי" 
          formControlName="firstName" 
          minlength="2" 
          maxlength="20" 
          required
          >
        </mat-form-field>
        <mat-form-field>
          <input 
          matInput 
          placeholder="שם משפחה" 
          formControlName="lastName" 
          minlength="2" 
          maxlength="20" 
          required
          >
        </mat-form-field>
        <mat-form-field>
          <input 
          matInput 
          placeholder="מייל" 
          formControlName="email" 
          required
          >
        </mat-form-field>
        <mat-form-field>
          <input 
          matInput 
          placeholder="מספר פלאפון" 
          formControlName="phoneNumber" 
          required
          >
        </mat-form-field>
      </form>
    </mat-card>
    <mat-card class="mat-elevation-z0 spacer">
      <div class="mat-display-1">פרטי חנות</div>
      <form class="flex column" [formGroup]="shopForm">
          <mat-form-field>
            <input
            matInput 
            placeholder="שם חנות" 
            formControlName="name" 
            minlength="2" 
            maxlength="20" 
            required
            >
          </mat-form-field>
          <mat-form-field>
            <input 
            matInput 
            placeholder="עיר" 
            formControlName="city" 
            minlength="2" 
            maxlength="20" 
            required
            >
          </mat-form-field>
          <mat-form-field>
            <input 
            matInput 
            placeholder="כתובת" 
            formControlName="address" 
            required
            >
          </mat-form-field>
          <mat-form-field>
            <input 
            matInput 
            placeholder="מספר פלאפון של חנות" 
            formControlName="phoneNumber" 
            required
            >
          </mat-form-field>
          <mat-form-field>
            <input 
            matInput 
            placeholder="מרחק משלוח" 
            formControlName="distributionRange" 
            required
            >
          </mat-form-field>
          <mat-form-field>
            <input 
            matInput 
            placeholder="זמן משלוח" 
            formControlName="deliveryTime" 
            required
            >
          </mat-form-field>
          <mat-form-field>
            <input 
            matInput 
            placeholder="מחיר משלוח" 
            formControlName="priceShipping" 
            required
            >
          </mat-form-field>
        </form>
    </mat-card>
</div>