@import 'styles.scss';

.wrap-Profile {
    width: $screen-md;
    margin: 0 auto;

    // .wrap-product {
    //     height: 70vh;
    //     margin: 0 0 auto;
    //     @include respond-to('sm') {
    //         display: flex;
    //         flex: 1 1 auto;
    //         flex-direction: column;
    //         height: 100%;
    //     }
    // }
}