<div class="flex column center sigin-warp">
  <div class="mat-display-1">יצירת עסק חדש</div>
    <mat-card>
      <mat-horizontal-stepper [linear]="false" #stepper>
        <mat-step [stepControl]="registerForm">
          <form class="flex column" [formGroup]="registerForm">
            <mat-form-field>
              <input
              matInput
              placeholder="שם פרטי"
              formControlName="firstName"
              minlength="2"
              maxlength="20"
              required
              >
              <mat-error *ngIf="registerForm.invalid">שדה חובה</mat-error>
            </mat-form-field>
            <mat-form-field>
              <input
              matInput
              placeholder="שם משפחה"
              formControlName="lastName"
              minlength="2"
              maxlength="20"
              required
              >
              <mat-error *ngIf="registerForm.invalid">שדה חובה</mat-error>
            </mat-form-field>
            <mat-form-field>
              <input
              matInput
              placeholder="אמייל"
              formControlName="email"
              minlength="3"
              maxlength="100"
              required
              >
              <mat-icon matSuffix>mail</mat-icon>
              <mat-error *ngIf="registerForm.get('email').hasError('required')">שדה חובה</mat-error>
              <mat-error *ngIf="registerForm.get('email').hasError('email')">אמייל שגוי</mat-error>
            </mat-form-field>
            <mat-form-field>
              <input
              matInput
              placeholder="סיסמא"
              formControlName="password"
              type="password"
              minlength="6"
              required
              >
              <mat-icon matSuffix>lock</mat-icon>
              <mat-error *ngIf="registerForm.get('password').hasError('required')">שדה חובה</mat-error>
              <mat-error *ngIf="registerForm.get('password').hasError('pattern')">סיסמא לא תקינה</mat-error>
            </mat-form-field>
            <mat-error *ngIf="isInvalidRegister">אחת השדות שגויים</mat-error>
            <br>
            <button
            [disabled]="spinnerBtn"
            mat-flat-button
            color="primary"
            (click)="register()"
            >
              <div class="flex center">
              <span>הבא</span>
              <mat-spinner
              *ngIf="spinnerBtn"
              color="accent"
              [diameter]="20"
              [strokeWidth]="2"
              >
              </mat-spinner>
              </div>
            </button>
          </form>
        </mat-step>
      <mat-step [stepControl]="shopForm">
        <form class="flex column" [formGroup]="shopForm">
          <mat-form-field>
            <input
            matInput
            placeholder="שם החברה"
            formControlName="name"
            minlength="2"
            maxlength="20"
            required
            >
            <mat-error *ngIf="registerForm.invalid">שדה חובה</mat-error>
          </mat-form-field>
          <mat-form-field>
          <input
          matInput
          google-place
          (onSelect)="setLocation($event)"
          placeholder="כתובת"
          formControlName="address"
          required
          >
          <mat-error *ngIf="registerForm.invalid">שדה חובה</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input
          matInput
          placeholder="עיר"
          formControlName="city"
          required
          >
          <mat-error *ngIf="registerForm.invalid">שדה חובה</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input
          matInput
          placeholder="מיקוד"
          formControlName="postalCode"
          required
          >
          <mat-error *ngIf="registerForm.invalid">שדה חובה</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input
          type="tel"
          matInput
          placeholder="מספר טלפון"
          formControlName="phoneNumber"
          required
          >
          <mat-error *ngIf="registerForm.invalid">שדה חובה</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input
          matInput
          placeholder="מרחק משלוח"
          formControlName="distributionRange"
          minlength="2"
          maxlength="20"
          required
          >
          <mat-error *ngIf="registerForm.invalid">שדה חובה</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input
          matInput
          placeholder="זמן משלוח"
          formControlName="deliveryTime"
          required
          >
          <mat-error *ngIf="registerForm.invalid">שדה חובה</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input
          matInput
          placeholder="מחיר משלוח"
          formControlName="priceShipping"
          >
          <mat-error *ngIf="registerForm.invalid">שדה חובה</mat-error>
        </mat-form-field>
     
        <button
        [disabled]="spinnerBtn"
        mat-flat-button
        color="primary"
        (click)="createShop()"
        >
        <div class="flex center">
          <span>הבא</span>
          <mat-spinner
          *ngIf="spinnerBtn"
          color="accent"
          [diameter]="20"
          [strokeWidth]="2"
          >
        </mat-spinner>
        </div>
        </button>
    </form>
    </mat-step>
    <mat-step>
      כאן צריך להיות פרטי אשראי
      <button
      mat-flat-button
      color="primary"
      (click)="finish()"
      >
      סיים
      </button>
    </mat-step>
    </mat-horizontal-stepper>
  </mat-card>
</div>
  