<form  class="flex column" [formGroup]="loginForm">
    <mat-form-field>
      <input
      matInput
      minlength="2"
      maxlength="50"
      placeholder="אמייל"
      formControlName="email"
      required>
      <mat-icon matSuffix>mail</mat-icon>
      <mat-error
      *ngIf="loginForm.get('email').hasError('required')">
          אמייל שדה חובה
      </mat-error>
      <mat-error
      *ngIf="loginForm.get('email').hasError('email')">
          אמייל שגוי
      </mat-error>
    </mat-form-field>
  
    <mat-form-field>
      <input
      type="password"
      matInput
      minlength="6"
      placeholder="סיסמא"
      formControlName="password"
      required>
      <mat-icon matSuffix>lock</mat-icon>
      <mat-error *ngIf="loginForm.invalid">סיסמא שדה חובה</mat-error>
    </mat-form-field>
    <br>
    <mat-error *ngIf="isInvalidLogin">אמייל או סיסמא שגויים</mat-error>
    <br>
    <button
    [disabled]="spinnerBtn"
    mat-flat-button
    color="primary"
    (click)="login()"
    >
    <div class="flex center">
        <span>שלח</span>
        <mat-spinner
        *ngIf="spinnerBtn"
        color="accent"
        [diameter]="20"
        [strokeWidth]="2"
        >
        </mat-spinner>
    </div>
    </button>
  </form>