@import 'styles.scss';

form {
    max-width: 500px;
    text-align: center;
    margin: 20px auto;
    
    mat-icon {
        color: $gray;
    }
    mat-spinner {
        margin-right: 5px;
    }
}