@import 'styles.scss';

input[type=number] {
    width: 100%;
    min-width: 30px;
    max-width: 70px;
    line-height: 36px;
    font-size: 14px;
    text-align: center;
    vertical-align: top;
    background-color: white;
    border: none;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
-webkit-appearance: none;
margin: 0;
}
.btn-quantity {
    font-size: 30px;
    line-height: 36px;
    height: 36px;
}
.btn-quantity.add::before {
    content: '+';
}
.btn-quantity.minimize::before {
    content: '\2013';
}