<div class="flex center">
  <button
  class="btn-quantity add"
  mat-icon-button
  color="white"
  [disabled]="product.quantity >= 99 || disabled"
  (click)="product.quantity = product.quantity + 1;quantityChange()"
  ></button>
  <input
  name="quantity"
  [(ngModel)]="product.quantity"
  [disabled]="disabled" 
  type="number"
  max="99"
  min="1"
  (change)="quantityChange()"
  >
  <button
  class="btn-quantity minimize"
  mat-icon-button
  color="white"
  [disabled]="disabled"
  (click)="product.quantity = product.quantity - 1;quantityChange()"
  ></button>
</div>
