<section class="tags">
  <div class="filters-warp">
    <ul *ngIf="tags && tags.length">
      <li *ngFor="let tag of tags">
        <mat-checkbox 
        color="primary" 
        (change)="change(tag)"
        [checked]="tag.checked"
        >
          {{ tag.name }}
        </mat-checkbox>
      </li>
    </ul>
  </div>
</section>