<form  class="flex column" [formGroup]="contactUsForm">
    <h1>צור קשר</h1>
    <mat-form-field>
      <input
      matInput
      minlength="2"
      maxlength="50"
      placeholder="אמייל"
      formControlName="email"
      required>
      <mat-icon matSuffix>mail</mat-icon>
      <mat-error
      *ngIf="contactUsForm.get('email').hasError('required')">
          אמייל שדה חובה
      </mat-error>
      <mat-error
      *ngIf="contactUsForm.get('email').hasError('email')">
          אמייל שגוי
      </mat-error>
    </mat-form-field>
    <mat-form-field>
        <input
        matInput
        placeholder="שם"
        formControlName="name"
        maxlength="50"
        minlength="2"
        required
        >
        <mat-icon matSuffix>person</mat-icon>
        <mat-error *ngIf="contactUsForm.invalid">שדה חובה</mat-error>
    </mat-form-field>
    <mat-form-field>
        <textarea
        matInput
        placeholder="הודעה"
        formControlName="message"
        maxlength="1000"
        minlength="10"
        required
        >
        </textarea> 
        <mat-icon matSuffix>message</mat-icon>
        <mat-error *ngIf="contactUsForm.invalid">שדה חובה</mat-error>
    </mat-form-field>
    <br>
    <mat-error *ngIf="isInvalidLogin">אמייל או סיסמא שגויים</mat-error>
    <br>
    <button
    [disabled]="spinnerBtn"
    mat-flat-button
    color="primary"
    (click)="send()"
    >
    <div class="flex center">
        <span>שלח</span>
        <mat-spinner
        *ngIf="spinnerBtn"
        color="accent"
        [diameter]="20"
        [strokeWidth]="2"
        >
        </mat-spinner>
    </div>
    </button>
  </form>
