@import 'styles.scss';

.btn-close {
    margin-bottom: 15px;
}
section {
    padding: 34px 0 16px 0;
    border-bottom: $border;
}
.buttom-text {
    margin: 16px 0 0 0;
    text-align: center;
    color: $black;

    a {
        color: $green;
        font-weight: 700;
        cursor: pointer;
    }
}