<div class="btn-close flex center">
    <button (click)="closeDialog()" mat-icon-button>
        <mat-icon>close</mat-icon>
    </button>
    <span class="spacer"></span>
    <button *ngIf="showSkipBtn" mat-stroked-button (click)="closeDialog()" color="accent">דלג</button>
</div>
<mat-tab-group
mat-stretch-tabs
[selectedIndex]="selected || 0"
(selectedIndexChange)="selectedIndexChange($event)"
dynamicHeight="true">
    <mat-tab label="התחברות">
        <section>
            <signin-login (closeDialog)="closeDialog()"></signin-login>
        </section>
        <div class="buttom-text mat-subheading-2">
            משתמש חדש?
            <a (click)="selected = 1">הצטרף לקהילה</a>
        </div>

    </mat-tab>
    <mat-tab translate label="הרשמה">
        <section>
            <signin-register (closeDialog)="closeDialog()"></signin-register>
        </section>
        <div class="buttom-text mat-subheading-2">
            משתמש קיים כבר?
            <a (click)="selected = 0">התחבר</a>
        </div>

    </mat-tab>
</mat-tab-group>
