<button matTooltip="סגור חלון" (click)="closeDialog()" mat-icon-button>
    <mat-icon>close</mat-icon>
</button>
<mat-horizontal-stepper *ngIf="geocoder; else load_geocoder_temp" linear #stepper>
  <mat-step class="step-one" [editable]="false" [stepControl]="addressControl">
    <ng-template matStepLabel>כתובת</ng-template>
    <mat-card class="mat-elevation-z0">
      <mat-card-title>מצא חנויות באזור שלך</mat-card-title>
      <mat-card-subtitle>הכנס את המיקום שלך או את האזור בו תרצה למצוא חנויות</mat-card-subtitle>
      <mat-card-content>
        <mat-form-field appearance="fill">
          <input
          matInput
          #addressInput="matInput"
          type="text" 
          placeholder="הקלידו כתובת" 
          [formControl]="addressControl"
          maxlength="200"
          minlength="2"
          (onSelect)="setLocation($event)"
          google-place
          required
          >
          <mat-hint>על פי המיקום שלך נוכל לתת לך תוצאות מדויקות</mat-hint>
          <mat-error *ngIf="addressControl.hasError('required')">שדה חובה</mat-error>
          <mat-error *ngIf="addressControl.hasError('invalidAddress')">כתובת לא תקינה</mat-error>
        </mat-form-field>
        <br>
        <button
        class="btn-near_me" 
        (click)="getCurrentLocation($event)" 
        mat-button 
        [disabled]="isLoadGeolocation"
        >
          <div class="flex center">
            <span class="btn-title">המיקום שלי</span>
            <mat-icon *ngIf="!isLoadGeolocation; else showSpinner" color="primary">near_me</mat-icon>
            <ng-template #showSpinner>
              <mat-spinner
              color="primary"
              [diameter]="20"
              [strokeWidth]="2"
              >
              </mat-spinner>
            </ng-template>
          </div>
        </button>
      </mat-card-content>
      <mat-card-actions>
        <button (click)="closeDialog()" mat-button color="accent">ביטול</button>
        <button
        mat-flat-button 
        (click)="getShopsByLocation($event)" 
        [disabled]="addressControl.invalid || checkValidAddress" 
        color="primary">
        <div class="flex center">
          <span class="btn-title">המשך</span>
          <mat-spinner
          *ngIf="checkValidAddress"
          color="primary"
          [diameter]="20"
          [strokeWidth]="2"
          >
          </mat-spinner>
        </div>
      </button>
      </mat-card-actions>
    </mat-card>
  </mat-step>
  <mat-step [editable]="false">
    <ng-template matStepLabel>חנויות</ng-template>
    <mat-card class="mat-elevation-z0">
      <div *ngIf="shopsList.length; else empty_shops_tmep">
        <mat-card-title>רשימת החנויות שמצאנו עבורך</mat-card-title>
        <mat-card-subtitle>סמן את החנות איתה תרצה לבצע את הקניה</mat-card-subtitle>
        <mat-card-content>
          <mat-button-toggle-group vertical>
            <mat-button-toggle *ngFor="let shop of shopsList" [value]="shop.uuid" (change)="shopUuidSelected = $event.value">
              <div class="flex row">
                <mat-icon class="row-checked" *ngIf="shop.uuid === shopUuidSelected">check</mat-icon>
                <div class="name">{{ shop.name }}</div>
                <div class="delivery-time">{{ shop.deliveryTime }}</div>
                <div class="free-shipping flex center">
                  <mat-icon>{{ shop.FreeShipping ? 'check' : 'close' }}</mat-icon>
                  משלוח חינם
                </div>
              </div>
            </mat-button-toggle>
          </mat-button-toggle-group>
        </mat-card-content>
        <mat-card-actions>
          <button (click)="reset()" mat-button color="accent">שינוי מקום</button>
          <button (click)="navigateToShop()" mat-flat-button color="primary" [disabled]="!shopUuidSelected">המשך</button>
        </mat-card-actions>
      </div>

      <ng-template #empty_shops_tmep>
        <div class="empty-shop-message flex column center">
          <h1>לא נמצאו חנויות עבורך</h1>
          <mat-icon>store</mat-icon>
        <button (click)="reset()" mat-button color="accent">שינוי מקום</button>
        </div>
      </ng-template>
    </mat-card>
  </mat-step>
</mat-horizontal-stepper>

<ng-template #load_geocoder_temp>
  <div class="loading flex column center">
    <mat-spinner
    color="primary" 
    [diameter]="60" 
    [strokeWidth]="2"
    >
    </mat-spinner>
    <span>טוען</span>
  </div>
</ng-template>