@import 'styles.scss';

mat-horizontal-stepper {
    width: $screen-sm;
    max-width: 100%;
    @include respond-to('sm') {
        width: 100%;
    }

    .mat-horizontal-content-container {
        padding: 0 !important;
    }
    .mat-form-field {
        display: block;
        font-size: 18px;
        mat-icon {
            color: $gray;
        }
    }
    button span.btn-title {
        margin-left: 5px;
    }
    @include respond-to('xs') {
        mat-card {
            padding: 0;
        }
    }
    mat-card-actions {
        float: left;
        button {
            margin: 0 5px;
        }
    }
    mat-button-toggle-group, 
    mat-button-toggle {
        width: 100%;
    }
    mat-button-toggle .row {
        position: relative;
        padding-right: 30px;
        justify-content: space-around;
        align-items: center;
        mat-icon.row-checked {
            position: absolute;
            right: 0;
        }
    }
    .empty-shop-message mat-icon {
        color: $gray;
        font-size: 160px;
        width: 160px;
        height: 160px;
    }
}
.loading {
    width: 50vh;
}