@import 'styles.scss';
button {
    z-index: 1;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 5px 16px;
    border: $border;
    border-radius: 0;
    background: $white !important;   
}
h2 {
    margin: 0;
    font-weight: 500;
}