@import 'styles.scss';

.homepage {
 
    &__header {
        min-height: 540px;
        background: linear-gradient(to top, rgba($color: $black, $alpha: .8), rgba($color: $black, $alpha: 1));
        text-align: center;
        padding: 0 16px;

        button {
            font-size: 20px;
            min-width: 230px;
            line-height: normal;
            padding: 12px 32px;
        }
    }
    &__header-text {
        color: #fff;
        max-width: 640px;
    }
    &__icons {
        text-align: center;
        mat-card-content {
            max-width: $screen-lg;
            margin: 0 auto;
            
            @include respond-to('sm') {
                flex-direction: column;
            }
        }
        mat-icon {
            font-size: 50px;
            width: 50px;
            height: 50px;
        }
    }   
}