<div class="homepage">
    <div class="homepage__header flex center">
        <section>
            <div class="homepage__header-text">
                <div  class="mat-display-2">
                    הזמנת סל קניות לבית בזול ובמהירות מהסופר הקרוב לביתך
                </div>
                <div class="mat-headline">
                        כותרת משנה המסבירה על האתר ועל
                        הפעילות שלו, צריכה להיות מפורטת יחסית
                        שהלקוח מיד יבין את הצורך של האתר
                </div>
                <button
                mat-raised-button
                (click)="startShop()"
                color="primary">
                    התחל קניה
                </button>
            </div>
        </section>
    </div>

    <mat-card class="homepage__icons mat-elevation-z0">
        <mat-card-content class="flex">
            <mat-card class="mat-elevation-z0">
                <mat-icon color="accent">add_shopping_cart</mat-icon>
                <div class="mat-headline">כותרת ראשית</div>
                <div class="subtitle">
                    הסבר מפורט המפרט על היתרון של האתר
                    או כל דבר אחר שנחליט לרשום כאן צריך
                    לפרט הרבה ולמלא את כל המקום של
                    הטקסט בגדול  ועוד טקסט למלאות הכל.
                </div>
            </mat-card>
            <mat-card class="mat-elevation-z0">
                <mat-icon color="accent">smartphone</mat-icon>
                <div class="mat-headline">כותרת ראשית</div>
                <div class="subtitle">
                    הסבר מפורט המפרט על היתרון של האתר
                    או כל דבר אחר שנחליט לרשום כאן צריך
                    לפרט הרבה ולמלא את כל המקום של
                    הטקסט בגדול  ועוד טקסט למלאות הכל.
                </div>
            </mat-card>
            <mat-card class="mat-elevation-z0">
                <mat-icon color="accent">home</mat-icon>
                <div class="mat-headline">כותרת ראשית</div>
                <div class="subtitle">
                    הסבר מפורט המפרט על היתרון של האתר
                    או כל דבר אחר שנחליט לרשום כאן צריך
                    לפרט הרבה ולמלא את כל המקום של
                    הטקסט בגדול  ועוד טקסט למלאות הכל.
                </div>
            </mat-card>
        </mat-card-content>
    </mat-card>
</div>