<div class="categories">
  <button class="close-bottom-sheet" *ngIf="bottomSheetData" (click)="close()" mat-button>
      <mat-icon>close</mat-icon>
  </button>
  <mat-tree
  #tree
  [dataSource]="dataSource" 
  [treeControl]="treeControl"
  >
  <mat-tree-node
  *matTreeNodeDef="let node; when: hasChild"
  >
    <button
    class="level-1"
    mat-button
    matTreeNodeToggle
    [attr.aria-label]="'toggle ' + node.name"
    >
    <div class="flex center btn-warp">
        <div class="flex center">
            <img [src]="'assets/images/categories/' + node.name + '.svg'" alt="">
            <span>{{ node.name }}</span>
        </div>
        <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? 'expand_less' : 'expand_more'}}
        </mat-icon>
    </div>
    </button>
  </mat-tree-node>
  <mat-tree-node
  *matTreeNodeDef="let node" 
  matTreeNodeToggle
  matTreeNodePadding
  [ngClass]="{'active': currentSubcategoryUuid === node.uuid}"
  >
    <button (click)="changeSubcategory(node)" mat-button>
      <span>{{ node.name }}</span>
    </button>
  </mat-tree-node>
</mat-tree>