@import 'styles.scss';
.categories {
    min-width: 240px;
    padding-bottom: 24px;

    @include respond-to('xs') {
        min-width: 0;
        overflow: hidden;
    }
    .close-bottom-sheet {
        z-index: 1;
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        padding: 5px 16px;
        border: $border;
        border-radius: 0;
        background: $white !important;   
    }
    mat-tree {
        margin: 0;    

        button {
            width: 100%;
            min-height: 48px;
            padding: 0 16px;
            text-align: right;

            .btn-warp {
                justify-content: space-between;

                img {
                    margin-left: 15px;
                }
            }
        }
        button:hover {
            color: $green;
        }
        mat-tree-node.active button span {
            color: $green;
            font-weight: 900;
        }
    }
    .load {
        padding: $padding 0;
    }
}