@import 'styles.scss';

.admin-warp {
    position: relative;
    min-height: 100vh;
    min-width: 100%;
    background: $white;

    .main {
        @include respond-to('xs') {
            padding-top: 56px;
        }
    }
}