<div class="wrap-user-order">
  <mat-card class="mat-elevation-z0 info flex" *ngIf="spinnerBtn; else load_customer">
    <mat-card class="mat-elevation-z0 spacer">
      <div class="mat-display-1">פרטי לקוח</div>
      <div class="flex">
        <h4>שם פרטי:</h4>
        <mat-hint>{{customer.firstName}}</mat-hint>
      </div>
      <div class="flex">
        <h4>שם משפחה:</h4>
        <mat-hint>{{customer.lastName}}</mat-hint>
      </div>
      <div class="flex">
        <h4>מספר פלאפון:</h4>
        <mat-hint>{{customer.phoneNumber}}</mat-hint>
      </div>
      <div class="flex">
        <h4>מייל:</h4>
        <mat-hint>{{customer.email}}</mat-hint>
      </div>
    </mat-card>
    <mat-card class="mat-elevation-z0 spacer">
      <div class="mat-display-1">פרטי משלוח</div>
      <div class="flex">
        <h4>עיר:</h4>
        <mat-hint>{{customer.city}}</mat-hint>
      </div>
      <div class="flex">
        <h4>כתובת:</h4>
        <mat-hint>{{customer.address}}</mat-hint>
      </div>
      <div class="flex">
        <h4>קומה:</h4>
        <mat-hint>{{customer.floor}}</mat-hint>
      </div>
 
    </mat-card>
  </mat-card>
  <ng-template class="flex center" #load_customer>
    <span>טוען לקוח</span>
    <mat-spinner color="accent" [diameter]="20" [strokeWidth]="2">
    </mat-spinner>
  </ng-template>
  <button 
  *ngIf="isProductsActive"
  mat-flat-button
  color="primary"
  (click)="finish()"
  >
  סיים הזמנה
  </button>
  <!-- PRODUCTS -->
  <div class="wrap-product flex">
    <div class="table-contanier">
      <table mat-table [dataSource]="products" >
        <ng-container matColumnDef="product">
          <th mat-header-cell *matHeaderCellDef> מוצר </th>
          <td mat-cell *matCellDef="let product">
            <div class="flex">
              <div [ngStyle]="{'background-image': 'url(' + product.imagePath + ')'}" class="pic"></div>
              <div class="flex column">
                <div class="flex text-warp-two-line">{{ product.name }}</div>
                <mat-hint>{{ product.company }}</mat-hint>
                <mat-hint>{{ product.unit }}</mat-hint>
              </div>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="price">
          <th class="center" mat-header-cell *matHeaderCellDef> מחיר </th>
          <td class="center price" mat-cell *matCellDef="let product"> {{product.price}}₪ </td>
        </ng-container>

        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef> כמות </th>
          <td mat-cell *matCellDef="let product"> {{product.quantity}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
</div>