@import 'styles.scss';

.wrap-user-order {
    width: $screen-md;
    margin: 0 auto;

    mat-card div.flex {
        align-items: center;
        h4 {
            margin-left: 10px;
        }
    }
    .wrap-product {
        height: 70vh;
        margin: 0 0 auto;
        @include respond-to('sm') {
            display: flex;
            flex: 1 1 auto;
            flex-direction: column;
            height: 100%;
        }
        .table-contanier {
            @include respond-to('sm') {
                display: none;
            }
            overflow: auto;
        }
        .table-contanier,
        table {
            width: 100%;
            
            th.center,
            td.center {
                text-align: center;
            }
        }
    }
    .pic {
        height: 100px;
        width: 100px;
        min-height: 100px;
        min-width: 100px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        margin-left: 24px;
    }
}