@import 'styles.scss';

.my-lists-warp {
    width: $screen-md;
    margin: 20px auto;
    
    @include respond-to('md') {
        width: 100%;
    }
    .mat-headline {
        color: $green;
        @include respond-to('md') {
            padding: 0 16px;
        }
    }
    table {
        width: 100%;

        td.price {
            color: $green;
        }
        tr.mat-row:hover {
            background: $white;
            cursor: pointer;
        }
    }
}
.container {
    flex: 1 1 auto;

    mat-icon {
        width: 100px;
        height: 100px;
        font-size: 100px;
        color: $gray;
    }
    .mat-display-1 {
        margin: 14px 0;
    }
    button {
        min-width: 180px;
    }
}