<div *ngIf="dataSource && dataSource.data && dataSource.data.length; else load_lists" class="my-lists-warp">
  <div class="mat-headline">הרשימות שלי</div>
  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="orderNumber">
      <th mat-header-cell *matHeaderCellDef> מספר הזמנה </th>
      <td mat-cell *matCellDef="let element"> {{ element.orderNumber }} </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> תאריך </th>
      <td mat-cell *matCellDef="let element"> {{ element.date | date:'short' }} </td>
    </ng-container>

    <ng-container matColumnDef="statusDelivery">
      <th mat-header-cell *matHeaderCellDef> ססטוס </th>
      <td mat-cell *matCellDef="let element"> {{ getStatusDelivery(element.statusDelivery) }} </td>
    </ng-container>

    <ng-container matColumnDef="totalPrice">
      <th mat-header-cell *matHeaderCellDef> מחיר </th>
      <td class="price" mat-cell *matCellDef="let element"> {{ element.totalPrice }}₪ </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row [routerLink]="['/my-list', row.orderNumber]" *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator
  *ngIf="dataSource.data.length >= pageSize"
  [pageSize]="pageSize" 
  [pageSizeOptions]="[5, 10, 20]" 
  showFirstLastButtons
  >
  </mat-paginator>
</div>

<ng-template #load_lists>
  <div *ngIf="!isLoadLists; else empty_lists" class="container flex column center">
      <mat-spinner
      color="primary" 
      [diameter]="60" 
      [strokeWidth]="2"
      >
      </mat-spinner>
      <span>טוען רשימות</span>
  </div>
  <ng-template #empty_lists>
    <div class="container flex column center">
      <mat-icon>assignment</mat-icon>
      <div class="mat-display-1">לא קיים רשימות קנייה</div>
      <button
      [routerLink]="['/shop']"
      mat-flat-button
      color="primary"
      >
      התחל קניה
      </button>
    </div>
  </ng-template>
</ng-template>