@import "styles.scss";

.checkout {
  flex: 1 1 auto;
  max-width: $screen-lg;
  margin: 40px auto;
  align-items: flex-start;
  @include respond-to('sm') {
    flex-direction: column;
  }

  &__user,
  &__payment {
    flex: 1;
  }
  &__user {
    margin-left: 10px;
    .row {
      margin-bottom: 5px;
      @include respond-to("xs") {
        flex-direction: column;
        margin-bottom: 0;
      }
    }
    mat-card-actions {
      text-align: center;
    }
  }
  mat-form-field {
    flex: 1;
    margin-left: 10px;
    @include respond-to("xs") {
      margin-left: 0;
    }
  }
}
