<form class="checkout flex" [formGroup]="userForm">
  <mat-card class="checkout__user mat-elevation-z0">
    <div class="mat-headline">פרטים אישיים</div>
    <div class="flex row">
      <mat-form-field appearance="fill">
        <mat-label>שם פרטי</mat-label>
        <input
          type="text"
          matInput
          formControlName="firstName"
          minlength="2"
          maxlength="20"
          required
        />
        <mat-error *ngIf="userForm.invalid">שדה חובה</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>שם משפחה</mat-label>
        <input
          type="text"
          matInput
          formControlName="lastName"
          minlength="2"
          maxlength="20"
          required
        />
        <mat-error *ngIf="userForm.invalid">שדה חובה</mat-error>
      </mat-form-field>
    </div>
    <div class="flex row">
      <mat-form-field appearance="fill">
        <mat-label>מספר טלפון</mat-label>
        <input
          matInput
          type="tel"
          formControlName="phoneNumber"
          minlength="2"
          maxlength="20"
          required
        />
        <mat-error *ngIf="userForm.invalid">שדה חובה</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>תעודת זהות</mat-label>
        <input
          type="text"
          matInput
          formControlName="idCard"
          minlength="5"
          maxlength="20"
          required
        />
        <mat-error *ngIf="userForm.invalid">תעודת זהות לא תקינה</mat-error
        >
      </mat-form-field>
    </div>
    <div class="mat-headline">פרטי משלוח</div>
    <div class="flex row">
      <mat-form-field appearance="fill">
        <mat-label>עיר</mat-label>
        <input type="text" matInput formControlName="city" required />
        <mat-error *ngIf="userForm.invalid">שדה חובה</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>רחוב</mat-label>
        <input
          type="text"
          matInput
          formControlName="addressStreet"
          minlength="2"
          maxlength="500"
          required
        />
        <mat-error *ngIf="userForm.invalid">שדה חובה</mat-error>
      </mat-form-field>
    </div>
    <div class="flex row">
      <mat-form-field appearance="fill">
        <mat-label>מספר דירה</mat-label>
        <input
          type="number"
          matInput
          formControlName="apartmentNumber"
          min="1"
          maxlength="100"
          required
        />
        <mat-error *ngIf="userForm.invalid">שדה חובה</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>קומה</mat-label>
        <input
          type="number"
          matInput
          formControlName="floor"
          min="1"
          maxlength="100"
          required
        />
        <mat-error *ngIf="userForm.invalid">שדה חובה</mat-error>
      </mat-form-field>
    </div>
  </mat-card>

  <mat-card class="checkout__payment">
    <div class="mat-headline">סוג התשלום</div>
    <mat-card-content>
      <mat-form-field appearance="fill">
        <mat-label>מספר אשראי</mat-label>
        <input 
        type="number" 
        matInput 
        min="1" 
        maxlength="100" 
        required />
      </mat-form-field>
      <div class="flex row">
        <mat-form-field appearance="fill">
          <mat-label>שנה</mat-label>
          <input 
          type="number" 
          matInput min="1" 
          maxlength="100" 
          required />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>חודש</mat-label>
          <input 
          type="number" 
          matInput 
          min="1" 
          maxlength="100" 
          required />
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="checkout()">
        סיים קנייה
      </button>
    </mat-card-actions>
  </mat-card>
</form>