<div class="my-lists-warp">
  <div class="mat-headline">הרשימות שלי</div>
  <mat-radio-group>
    <mat-radio-button
    *ngFor="let season of seasons"
    [value]="season" 
    [checked]="season === 'active'"
    (change)="radioChange($event)"
    >
    {{ getStatusDelivery(season) }}
    </mat-radio-button>
  </mat-radio-group>
  <span 
  class="flex center"
  *ngIf="!dataSource || 
  !dataSource.data || 
  dataSource.data.length === 0">
  אין הזמנות ברשימה הנוחכית 
  </span>
  <div 
  *ngIf="dataSource && 
  dataSource.data && 
  dataSource.data.length; else load_lists"
  >
    <table 
    mat-table 
    [dataSource]="dataSource"
    >
      <ng-container matColumnDef="orderNumber">
        <th mat-header-cell *matHeaderCellDef> מספר הזמנה </th>
        <td mat-cell *matCellDef="let element"> {{ element.orderNumber }} </td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> תאריך </th>
        <td mat-cell *matCellDef="let element"> {{ element.date | date:'short' }} </td>
      </ng-container>

      <ng-container matColumnDef="statusDelivery">
        <th mat-header-cell *matHeaderCellDef> ססטוס </th>
        <td mat-cell *matCellDef="let element"> {{ getStatusDelivery(element.statusDelivery) }} </td>
      </ng-container>

      <ng-container matColumnDef="totalPrice">
        <th mat-header-cell *matHeaderCellDef> מחיר </th>
        <td class="price" mat-cell *matCellDef="let element"> {{ element.totalPrice }}₪ </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row [routerLink]="['/business/user-order', row.orderNumber]" *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator 
    *ngIf="dataSource.data.length >= pageSize" \
    [pageSize]="pageSize" 
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    >
    </mat-paginator>
  </div>
</div>
<ng-template #load_lists>
  <div *ngIf="!isLoadLists; else empty_lists" class="container flex column center">
    <mat-spinner color="primary" [diameter]="60" [strokeWidth]="2">
    </mat-spinner>
    <span>טוען רשימות</span>
  </div>
</ng-template>