@import '~@angular/material/theming';
$custom-typography: mat-typography-config($font-family: 'Assistant, sans-serif');
@include mat-core($custom-typography);
$shop-primary: mat-palette($mat-light-green, 800);
$shop-accent: mat-palette($mat-gray, 800);
$shop-warn: mat-palette($mat-red, 800);
$shop-theme: mat-light-theme($shop-primary, $shop-accent, $shop-warn);
@include angular-material-theme($shop-theme);

/*********************
VARIABLES
*********************/
$white: #f1f1f1;
$black: #424242;
$gray: #757575;
$green: #558b2f;
$yellow: #F9A825;
$lite_yellow: #FFFDE7;
$red: #C62828;

$padding: 24px;
$border: 1px solid #ddd;
/*********************
BREAKPOINTS
*********************/
$screen-xs: 599.98px;
$screen-sm: 767.98px;
$screen-md: 959.98px;
$screen-lg: 1199.98px;
$breakpoints: (
    'xs':  ( max-width:  $screen-xs ),
    'sm':  ( max-width:  $screen-sm ),
    'md': ( max-width:  $screen-md ),
    'lg':  ( max-width: $screen-lg )
) !default;

@mixin respond-to($breakpoint) {
    @media #{inspect(map-get($breakpoints, $breakpoint))} {
        @content;
    }
}

html, body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
*, ::after, ::before {
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: $black;
}
ul, li {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
.mat-display-4,
.mat-display-3,
.mat-display-2,
.mat-display-1,
.mat-headline {
    margin: 0 0 34px 0;
}

@include respond-to('sm') {
    margin: 0 0 24px 0;
}

.mat-display-3 {
    line-height: 64px;

    @include respond-to('sm') {
        font-size: 34px;
        line-height: 44px;
    }
}
.mat-headline {
    line-height: 34px;

    @include respond-to('sm') {
        font-size: 18px;
        line-height: 34px;
    }
}
.text-warp-two-line {
    max-width: 100%;
    height: 3em;
    line-height: 1.5em;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px;
    align-items: flex-end;
}
.text-overflow {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
mat-dialog-container {
    @include respond-to('xs') {
        border-radius: 0 !important;
    }
}
.full-dialog {
    @include respond-to('xs') {
        max-width: 100vw !important;
        max-height: 100vh !important;
        height: 100% !important;
        width: 100% !important;
    }
}
.full-dialog.choose-shop .mat-dialog-container { 
    @include respond-to('xs') {
        padding: 0;
    }
}
.mat-bottom-sheet-container {
    padding: 0 !important;
}
button.btn-yellow,
.mat-badge-content {
    background: $yellow !important;
    background-color: $yellow !important;
}
.custom-snackbar button {
    color: white;
}
.custom-snackbar.success {
    background: $green;
}
.custom-snackbar.error {
    background: $red;
}
.custom-snackbar.warning {
    background: $yellow;
}
.mat-select-panel.virtual-scroll {
    max-height: 100% !important;
    overflow: inherit !important;
}
.mat-select-panel .cdk-virtual-scroll-viewport {
   max-height: 240px !important;
}
.mat-select-panel .cdk-virtual-scroll-content-wrapper {
    position: inherit !important;  
    top: inherit !important;  
    left: 0; 
}
/*********************
GLOBAL SCSS
*********************/
.flex {display: flex;}
.flex.column {flex-direction: column;}
.flex.center {align-items: center;justify-content: center;}
.spacer {flex: 1 1 auto;}
mat-card {border-radius: 0;}

shop-cart,
client-profile,
client-my-lists,
lists-my-list,
client-checkout {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}
mat-card.list client-add-cart {
    width: inherit;
}
// Load application
.loader {
    height: 100%;

    .line {
        display: inline-block;
        width: 15px;
        height: 15px;
        border-radius: 15px;
        background-color: $green;
    }

    .load .line:nth-last-child(1) {animation: loading 1.5s 1s infinite;}
    .load .line:nth-last-child(2) {animation: loading 1.5s .5s infinite;}
    .load .line:nth-last-child(3) {animation: loading 1.5s 0s infinite;}

    @keyframes loading {
        0% {height: 15px;}
        50% {height: 35px;}
        100% {height: 15px;}
    }
}
::-webkit-scrollbar {
    width: 4px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 2px;
    background: white;
}
::-webkit-scrollbar-thumb {
    border-radius: 2px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    background: #ddd;
}