<div class="shop">
  <div class="header flex">
    <div *ngIf="!filtersQuery.search" class="mat-display-1 text-overflow">
      {{ categoryName }}
    </div>
    <div class="mat-headline text-overflow" *ngIf="filtersQuery.search">
      תוצאות עבור: {{ filtersQuery.search }}
    </div>
    <div class="search flex center">
      <input
        matInput
        (input)="input()"
        type="search"
        (keyup.enter)="search()"
        placeholder="חפש מוצרים"
        [formControl]="searchControl"
        [matAutocomplete]="auto"
      />
      <button (click)="search()" mat-icon-button>
        <mat-icon>search</mat-icon>
      </button>
    </div>
    <mat-autocomplete #auto="matAutocomplete" class="mat-elevation-z1">
      <mat-option *ngFor="let option of searchOptions" [value]="option.name">
        {{ option.name }}
      </mat-option>
    </mat-autocomplete>
    <div class="mat-subheading-2">{{ countProducts }} תוצאות</div>
  </div>

  <div class="equal-2 flex">
    <mat-card *ngIf="!(isHandset$ | async)" class="filters mat-elevation-z0">
      <div>
        <h2>קטגוריות</h2>
        <shop-browse
          (subcategoryChange)="subcategoryChange($event)"
          (setCategoryName)="categoryName = $event"
        >
        </shop-browse>
        <mat-divider></mat-divider>

        <h2>תגיות</h2>
        <shop-filters [tags]="tags" (tagsChange)="tagsChange($event)">
        </shop-filters>
      </div>
    </mat-card>

    <div class="full-width flex column">
      <mat-card *ngIf="showChips" class="chips mat-elevation-z0">
        <mat-chip-list #chipList>
          <div *ngFor="let tag of tags">
            <mat-chip
              *ngIf="tag.checked"
              selected
              removable
              disableRipple
              (removed)="removeTag(tag)"
            >
              {{ tag.name }}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
          </div>
        </mat-chip-list>
      </mat-card>

      <!-- on mobile -->
      <mat-card
        *ngIf="(isHandset$ | async)"
        class="flex center drawer-filter mat-elevation-z0"
      >
        <button
          class="categories-browse"
          mat-button
          (click)="openDrawerCategories()"
        >
          <span>קטגוריות</span>
          <mat-icon>all_inbox</mat-icon>
        </button>
      </mat-card>

      <mat-card class="sortby-viewas flex center mat-elevation-z0">
        <div class="flex center viewas">
          <button (click)="viewAs = 'grid'" mat-icon-button>
            <mat-icon [class.selected]="viewAs === 'grid'" color="accent"
              >apps</mat-icon
            >
          </button>
          <button (click)="viewAs = 'list'" mat-icon-button>
            <mat-icon [class.selected]="viewAs === 'list'" color="accent"
              >view_list</mat-icon
            >
          </button>
        </div>
        <button
          class="m-drawer-filters"
          (click)="openDrawerFilters()"
          color="accent"
          mat-icon-button
        >
          <mat-icon>filter_list</mat-icon>
        </button>
        <span class="spacer"></span>
        <mat-form-field>
          <mat-select
            (selectionChange)="sortByChange($event.value)"
            placeholder="מיין לפי"
          >
            <mat-option
              *ngFor="let type of sortBy; let i = index"
              [value]="i"
              >{{ type }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </mat-card>

      <!-- Product list -->
      
      <ul *ngIf="products.length" class="products-list">
        <li [ngClass]="viewAs" *ngFor="let product of products">
            <shop-product 
              [viewAs]="viewAs" 
              [product]="product">
              <ng-container *ngTemplateOutlet="matCardActionsTmp,
              context: { $implicit: product }"></ng-container>
            </shop-product>
        </li>
      </ul>
      <span class="spacer"></span>
      <shop-paginator
        [limit]="filtersQuery.limit"
        [offset]="filtersQuery.offset"
        [productsLength]="countProducts"
        (pageEvent)="paginatorChange($event)"
      >
      </shop-paginator>
    </div>
  </div>
</div>

<div 
*ngIf="!isLoadProduct" 
class="overlay-load-products flex center"
>
    <mat-spinner
    color="primary"
    [diameter]="60"
    [strokeWidth]="5"
    >
    </mat-spinner>
</div>
