@import 'styles.scss';

.shop {
    width: $screen-lg;
    margin: 10px auto 20px auto;

    @include respond-to('lg') {
        width: 100%;
    }
    .header {
        z-index: 1;
        position: sticky;
        top: 64px;
        padding: 16px $padding;
        align-items: center;
        white-space: nowrap;
        background: #fff;
        margin-bottom: 10px;
        border: $border;

        .mat-display-1,
        .mat-headline {
            flex: 1;
            color: $green;
            margin: 0;
        }
        .search {
            position: relative;
            flex: 2;
            margin: 0 16px;
            border-radius: 5px;
            @include respond-to('sm') {
                display: none;
            }
            input[type=search] {
                padding: 0 16px;
                outline: none;
                font-size: 16px;
                color: $black;
                background: $white;
                border: 0;
                margin: 0;
                line-height: 40px;
                border-bottom-right-radius: 5px;
                border-top-right-radius: 5px;
            }
            
            input[type=search]:focus,
            input[type=search]:active {
                border-bottom-right-radius: 0;
            }
            button {
                background: $white;
                background-color: $white;
                border-radius: 0;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
                color: $black;
                border-right: 1px solid #ccc;
            }
        }

        @include respond-to('lg') {
            padding: $padding;
        }
        @include respond-to('sm') {
            flex-direction: column;
            align-items: inherit;
        }
        .mat-display-1 {
            color: $green;
        }
        .mat-display-1,
        .mat-subheading-2 {
            margin: 0;
        }
    }
    mat-card.filters {
        padding: 16px;
        margin-left: 10px;
        align-self: flex-start;
        border: $border;
    }
    .full-width {
        flex: 1 1 auto;
    }
    mat-card.chips {
        border-bottom: $border;
        mat-chip {
            border-radius: 0;
        }
    }
    mat-card.drawer-filter {
        z-index: 1;
        position: sticky;
        top: 56px;
        display: flex;
        padding: 5px 0;
        border-bottom: $border;

        button.categories-browse {
            width: 100%;

            border-radius: 0;
            span {
                margin-left: 10px;
            }
            mat-icon {
                color: $gray;
            }
        }
    }
    mat-card.sortby-viewas {
        border: $border;
        padding: 5px 16px 0 16px;

        .viewas {

            mat-icon {
                font-size: 30px;
                width: 30px;
                height: 30px;
                cursor: pointer;
            }
            mat-icon:hover,
            mat-icon.selected {
                color: $green;
            }
        }
        .m-drawer-filters {
            display: none;
            @include respond-to('xs') {
                display: block;
            }
        }
        mat-form-field {
            min-width: 0;
        }
    }
    ul.products-list {
        display: flex;
        flex-wrap: wrap;
        margin: 10px 0;
        border-top: $border;
        border-right: $border;
        
        li.grid {
            width: calc(25%);
    
            @include respond-to('md') {
                width: calc(33.3333333333%);
            }
            @include respond-to('sm') {
                width: calc(50%);
            }
        }
        li.list {
            width: 100%;
        }
    }
        
    h2 {
        font-weight: 500;
        margin: 24px;
    }
    
}
.overlay-load-products {
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba($color: #000, $alpha: .7);
}