<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a routerLink="/business">
      <img class="logo" src="assets/images/ship-shop-logo-white.png" alt="Logo">
    </a>
    <span class="spacer"></span>
    <a mat-button routerLink="/business/orders">
      הזמנות שלי
    </a>
    <a mat-button [routerLink]="['/business/shop/', shopSellerService.currentSellerValue.uuid]">
      המוצרים שלי
    </a>
    <a mat-button routerLink="/business/shop/">
      הוספת מוצרים
    </a>
    <a mat-button routerLink="/business/profile">
      הפרופיל שלי
    </a>
  </mat-toolbar-row>
</mat-toolbar>