@import 'styles.scss';

mat-toolbar {
    z-index: 1;
    position: fixed;
    
    mat-toolbar-row {
        width: $screen-sm;
        margin: 0 auto;
    
        img {
            height: 36px;
        }
    }
}
