<div *ngIf="cartProducts && cartProducts.length; else load_cart" class="cart-warp">
    <div class="header-title flex">
        <div class="flex center">
            <div class="mat-display-1">עגלת הקניות שלי</div>
            <div class="mat-headline"> ({{ cartProducts.length }} מוצרים)</div>
        </div>
        <span class="spacer"></span>
        <button mat-flat-button (click)="removeAll()" color="white">
            <span>מחק סל</span>
            <mat-icon>delete_forever</mat-icon>
        </button>
    </div>
    <div class="equal-2 flex">
        <div *ngIf="!(isHandset$ | async); else m_temp" class="table-contanier">
            <table mat-table [dataSource]="cartProducts">
                <ng-container matColumnDef="product">
                    <th mat-header-cell *matHeaderCellDef> מוצר </th>
                    <td mat-cell *matCellDef="let product"> 
                        <div class="flex">
                            <div [ngStyle]="{'background-image': 'url(' + product.imagePath + ')'}" class="pic"></div>
                            <div class="flex column">
                                <div class="flex text-warp-two-line">{{ product.name }}</div>
                                <mat-hint>{{ product.company }}</mat-hint>
                                <mat-hint>{{ product.unit }}</mat-hint>
                                <button 
                                matTooltip="הסר מוצר" 
                                (click)="removeCartProduct(product)" 
                                class="delete" 
                                mat-icon-button
                                >
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </div>
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="price">
                    <th class="center" mat-header-cell *matHeaderCellDef> מחיר </th>
                    <td class="center price" mat-cell *matCellDef="let product"> {{product.price}}₪ </td>
                </ng-container>

                <ng-container matColumnDef="quantity">
                    <th class="center" mat-header-cell *matHeaderCellDef> כמות </th>
                    <td mat-cell *matCellDef="let product"> 
                        <shared-btn-quantity
                        (change)="isLoadTotalPrice = !$event"
                        (removeProduct)="removeProduct(product)"
                        [product]="product"
                        >
                        </shared-btn-quantity>
                    </td>
                </ng-container>
                
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>

        <ng-template #m_temp>
            <div class="m-table">
                <mat-card class="m mat-elevation-z0" *ngFor="let product of cartProducts">
                        <mat-card-content>
                            <div class="flex">
                                <div [ngStyle]="{'background-image': 'url(' + product.imagePath + ')'}" class="pic"></div>
                                <div class="info flex column">
                                    <div class="price">{{ product.price }}₪</div>
                                    <div class="name text-warp-two-line">{{ product.name }}</div>
                                    <mat-hint>{{ product.unit }}</mat-hint>
                                    <button (click)="removeCartProduct(product)" class="delete" mat-icon-button>
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </div>
                                <div class="shared-btn-quantity">
                                    <shared-btn-quantity
                                    (removeProduct)="removeProduct(product)" 
                                    [product]="product"
                                    >
                                    </shared-btn-quantity>
                                </div>
                            </div>
                        </mat-card-content>
                </mat-card>
            </div>
        </ng-template>

        <mat-card class="checkout-warp mat-elevation-z8">
            <mat-card-content>
                <div class="flex center">
                    <div class="mat-headline">סכום הקניה הסופי שלך:</div>
                    <span class="spacer"></span>
                    <div class="mat-display-1">{{ getTotalPrice() }}₪</div>
                </div>
                <button
                class="btn-checkout btn-yellow"
                mat-raised-button
                (click)="checkout()"
                >
                סיים קנייה
                </button>
            </mat-card-content>
            <ng-template #load_total_price>
                <div
                class="container flex column center"
                >
                    <mat-spinner
                    [color]="primary"
                    [diameter]="50"
                    [strokeWidth]="2"
                    >
                    </mat-spinner>
                    טוען מחיר
                </div>
            </ng-template>
        </mat-card>

    </div>
</div>

<!-- Load cart -->
<ng-template #load_cart>
    <div
    *ngIf="!isLoadCart; else empty_cart"
    class="container flex column center"
    >
        <mat-spinner
        [color]="primary"
        [diameter]="50"
        [strokeWidth]="2"
        >
        </mat-spinner>
        טוען עגלה
    </div>
    <ng-template #empty_cart>
        <div class="container empty-cart flex column center">
            <mat-icon> shopping_cart</mat-icon>
            <div class="mat-display-1">העגלה שלך ריקה</div>
            <button
            (click)="startShop()"
            mat-flat-button
            color="primary"
            >
            התחל קניה
            </button>
        </div>
    </ng-template>
</ng-template>
