@import 'styles.scss';

.cart-warp {
    position: relative;
    width: $screen-lg;
    margin: auto;
    @include respond-to('lg') {
        flex: 1 1 auto;
        width: 100%;
        margin: 10px 0 0 0;
    }
    .header-title {
        padding: 0 0 10px 0;
        align-items: center;
        width: 70%;
        @include respond-to('sm') {
            padding: 10px 16px;
            width: 100%;
        }
        > div {
            @include respond-to('sm') {
                align-items: baseline;
            }
        }
        .mat-display-1 {
            color: $green;
            margin: 0 0 0 10px;
            @include respond-to('sm') {
                font-size: 22px;
            }
        }
        .mat-headline {
            font-size: 15px;
            margin: 0;
        }
        button {
            color: $black;
            mat-icon {
                color: $gray;
            }
        }
    }
    .equal-2 {
        height: 70vh;
        
        @include respond-to('sm') {
            display: flex;
            flex: 1 1 auto;
            flex-direction: column;
            height: 100%;
        }
        .table-contanier {
            @include respond-to('sm') {
                display: none;
            }
            overflow: auto;
        }
        .table-contanier,
        table {
            width: 100%;

            th.center,
            td.center {
                text-align: center;
            }
        }
        .m-table {
            display: none;
            @include respond-to('sm') {
                display: block;
            }
            flex:  1 1 auto;
            mat-card.m {
                position: relative;
                border-bottom: $border;
    
                div.info {
                    position: relative;
                    padding-bottom: 3em;
                    .name {
                        width: 150px;
                    }
                    button.delete {
                        position: absolute;
                        right: 0;
                        bottom: 0;
                    }
                }
                .shared-btn-quantity {
                    position: absolute;
                    left: 16px;
                    bottom: 16px;
                }
            }
        }
        mat-card.checkout-warp {
            z-index: 100;
            position: sticky;
            top: 0;
            height: 100%;
            white-space: nowrap;
            min-width: 30%;
            @include respond-to('sm') {
                z-index: 100;
                position: sticky;
                bottom: 0;
                min-width: none;
                height: auto;
            }
            :first-child {
                flex-direction: column;

                .mat-display-1 {
                    font-weight: 700;
                    color: $green;
                }
                @include respond-to('sm') {
                    flex-direction: row;

                    .mat-headline,
                    .mat-display-1 {
                        padding-bottom: 10px;
                        line-height: 1;
                        margin: 0;
                    }
                    .mat-headline {
                        font-size: 18px;
                    }
                    .mat-display-1 {
                        font-size: 20px;
                    }
                }
                button {
                    color: white;
                    width: 100%;
                }
            }
        }
    }
}
.pic {
    height: 100px;
    width: 100px;
    min-height: 100px;
    min-width: 100px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 24px;
}
.price {
    font-size: 16px;
    font-weight: 700;
}
button.delete {
    width: fit-content;

    mat-icon {
        color: $gray;
    }
}
// Loading
.container {
    flex: 1 1 auto;
    mat-icon {
        width: 100px;
        height: 100px;
        font-size: 100px;
        color: $gray;
    }
    .mat-display-1 {
        margin: 14px 0;
    }
    button {
        min-width: 180px;
    }
}