<form class="flex column" [formGroup]="registerForm">
  <mat-form-field>
      <input
      matInput
      type="email"
      placeholder="שם פרטי"
      formControlName="firstName"
      minlength="2"
      maxlength="50"
      required
      >
      <mat-error *ngIf="registerForm.invalid">שדה חובה</mat-error>
  </mat-form-field>
  <mat-form-field>
      <input
      matInput
      type="text"
      placeholder="שם משפחה"
      formControlName="lastName"
      minlength="2"
      maxlength="50"
      required
      >
      <mat-error *ngIf="registerForm.invalid">שדה חובה</mat-error>
  </mat-form-field>
  <mat-form-field>
      <input
      matInput
      type="text"
      placeholder="אמייל"
      formControlName="email"
      minlength="3"
      maxlength="100"
      required
      >
      <mat-icon matSuffix>mail</mat-icon>
      <mat-error *ngIf="registerForm.get('email').hasError('required')">שדה חובה</mat-error>
      <mat-error *ngIf="registerForm.get('email').hasError('email')">אמייל שגוי</mat-error>
  </mat-form-field>

  <mat-form-field>
      <input
      matInput
      type="password"
      placeholder="סיסמא"
      formControlName="password"
      minlength="6"
      required
      >
      <mat-icon matSuffix>lock</mat-icon>
      <mat-error *ngIf="registerForm.get('password').hasError('required')">שדה חובה</mat-error>
      <mat-error *ngIf="registerForm.get('password').hasError('pattern')">סיסמא לא תקינה</mat-error>
  </mat-form-field>
  <mat-error *ngIf="isInvalidRegister">אחת השדות שגויים</mat-error>
  <br>
  <button
  [disabled]="spinnerBtn"
  mat-flat-button
  color="primary"
  (click)="register()"
  >
  <div class="flex center">
      <span>הרשמה</span>
      <mat-spinner
      *ngIf="spinnerBtn"
      color="accent"
      [diameter]="20"
      [strokeWidth]="2"
      >
      </mat-spinner>
  </div>
  </button>
</form>
