<mat-toolbar class="top" color="primary">
    <mat-toolbar-row class="flex center">
      <a mat-button  routerLink="/admin">
        <img class="logo" src="assets/images/ship-shop-logo-white.png" alt="Logo">
      </a>
      <span class="spacer"></span>
      <a mat-button  routerLink="/admin">
      הודעות
      </a>
      <a mat-button  routerLink="/admin/business">
      יצירת חנות
      </a>
    </mat-toolbar-row>
</mat-toolbar>